settings:
  title: 'Anzupop 建构状态'
  url: 'https://status.anzupop.com/' # used for Slack messages
  logo: logo.png # image in ./public/ folder
  daysInHistogram: 60 # number of days you want to display in histogram
  collectResponseTimes: true # collects avg response times from CRON locations

  allmonitorsOperational: '所有系统运行正常'
  notAllmonitorsOperational: '并非所有系统运行正常'
  monitorLabelOperational: '正常运行'
  monitorLabelNotOperational: '未正常运行'
  monitorLabelNoData: '无数据'
  dayInHistogramNoData: '无数据'
  dayInHistogramOperational: '无事件'
  dayInHistogramNotOperational: ' 次事件' # xx incident(s) recorded

monitors:

  - id: www-anzupop-com
    name: Anzupop 主页
    url: 'https://www.anzupop.com/'
    method: GET
    expectStatus: 200
    
  - id: blog-anzupop-com
    name: Anzupop 博客
    url: 'https://blog.anzupop.com/'
    method: GET
    expectStatus: 200

  - id: navidrome-anzupop-com
    name: Anzupop Navidrome (cloudflared)
    url: 'https://navidrome-cf.anzupop.com/'
    method: GET
    expectStatus: 302

  - id: home-assistant-anzupop-com
    name: Nemo's home assistant (cloudflared)
    url: 'https://home-assistant-cf.anzupop.com/'
    method: GET
    expectStatus: 200

  - id: hiyo-anzupop-com
    name: Hiyo (VMess)
    url: 'https://hiyo.anzupop.com/'
    method: GET
    expectStatus: 400

  - id: vless-anzupop-com
    name: Anzupop VLess
    url: 'https://vless.anzupop.com/'
    method: GET
    expectStatus: 200

  - id: tbot-api-anzupop-com
    name: Anzupop 反代 (针对 Telegram 机器人的 API)
    url: 'https://tbot-api.anzupop.com/bot'
    method: GET
    expectStatus: 404

  - id: ark-anzupop-com
    name: Anzupop 反代 (针对 Intel Product Specifications)
    url: 'https://ark.anzupop.com/libs/'
    method: GET
    expectStatus: 403

  # - id: cernet2-entry
  #   name: CERNET2 Entry
  #   url: 'http://202.120.163.159:65443/'
  #   method: GET
  #   expectStatus: 400
